* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    
  }
  
  header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h1,
  h2,
  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center
  }
  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #d15959;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }